/* .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(0deg, transparent, rgba(37, 37, 37, .61), #111);
}

.logo {
    position: fixed;
    left: 20px;
    width: 80px;
}

.avatar {
    position: fixed;
    right: 20px;
    width: 30px;
} */


/* CSS styles for the Netflix navbar clone */
.navbar {
    position: fixed;
    top: 0;
    width: 95%;
    height: 30px;
    background-image: linear-gradient(0deg, transparent, rgba(37, 37, 37, .61), #111);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 120px;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links ul li {
    display: inline-block;
    margin-right: 20px;
    color: #fff;
    font-size: 18px;
}

.links ul li:last-child {
    margin-right: 0;
}

.links ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.links ul li a:hover {
    color: #b3b3b3;
}

.profile img {
    width: 40px;
    border-radius: 20%;
}
