.row {
    margin-left: 20px;
    color: black;
}

.row_title {
    color: white;
    margin-left: 10px;
}

.posters {
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar {
    display: none;
}

.poster {
    height: 115px;
    width: 100%;
    margin-right: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.poster:hover {
    transform: scale(1.2);
}